:root {
    --vermelho: #E50941;
    --preto: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos base*/

body {
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/*Filme principal*/

.filme-principal {
    font-size: 16px;
    background:linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, 0.5)100%), url('/img/movie2.jpg');
   
    height: 450px;        
    background-size:cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal p{
    font-size: 17px;
    width: 450px;
    text-align: justify;
    margin-top: 10px;
}

.filme-principal h3 {
    margin-top: 120px;
    font-size: 30px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 10px 20px;
    margin-left: 5px;
    margin-top: 20px;
    font-size: 12px;
    font-family: 'Arial Black', Times;

    cursor: pointer;
    transition: .4s ease all;

}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}

.container {
    margin: 15px;
}

.filme-principal .container {
    width: 80%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;    
}

.owl-dots {
    margin-top: -12px;
}

.modal_bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.modal {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -300px;
    width: 560px;
    height: 360px;
    background-color: rgb(73, 73, 73);
    z-index: 100;
    border-radius: 0.5rem;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.8);
}

.modal button {
    position: absolute;
    top: 0.8%;
    right: 10px;
    background-color: rgb(73, 73, 73);
    padding: 5px 5px;
    border: none;
}

.modal button:hover {
    cursor: pointer;
    background-color: rgb(255, 250, 250);
}    

.modal iframe {
    margin-top: 30px;
}

